@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v13/DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff) format('woff');
}

@font-face {
    font-family: 'UTM';
    src: url(../Font/UTMBryantLG.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'UTM B';
    src: url(../Font/UTMBryantLG_B.ttf);
    font-style: normal;
    font-weight: bold;
}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}


/*Header*/

.hapo-header {
    width: 100%;
    height: auto;
    color: #ffffff;
    float: left;
    display: flex;
    align-items: center;
}

.hapo-header img {
    padding: 40px;
    padding-left: 60px;
}

.menu {
    width: 70%;
    display: flex;
    justify-content: end;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    font: normal bold 14px/19px "Open Sans";
    text-transform: uppercase;
    color: #505353;
    text-decoration: none;
    margin-left: 30px;
    padding: 8px;
    -webkit-text-stroke: 0.5px;
}

.menu li :hover {
    background-color: #B2D235;
    border-radius: 17px;
    color: #ffffff;
}


/*banner*/

.banner {
    display: flex;
    flex-wrap: wrap;
}

.hapo-banner {
    width: 100%;
    margin-bottom: 20%;
}

.hapo-banner-img {
    position: absolute;
    width: 100%;
    z-index: -1;
    /* background-image: linear-gradient(white, #E5E5E5); */
}

.banner-text {
    font: normal normal 'UTM';
    color: #11114E;
    margin-left: 40px;
    justify-content: center;
    margin-top: 15%;
    margin-left: 4%;
    -webkit-text-stroke: 0.5px;
}

.big-content {
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -0.05em;
}

.medium-content {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 5px;
    -webkit-text-stroke: 0.3px;
}

.small-content {
    margin-top: 10px;
    margin-bottom: 26px;
    font-size: 20px;
    list-style: 25px;
    letter-spacing: -0.05em;
    -webkit-text-stroke: 0.5px;
    color: #505353;
}

.start-learning {
    font: normal bold 25px/37px 'UTM';
    background-color: #B2D235;
    padding: 13px 67px 20px 67px;
    border-radius: 35px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #ffffff;
    text-decoration: none;
}

/*Footer*/

.hapo-footer {
    color: #ffffff;
    margin: 0;
    text-align: center;
    width: 100%;
    height: 308px;
    font: normal normal 'UTM';
}

.hapo-footer .footer-content {
    height: 280px;
    background-color: #505353;
    text-align: start;
    padding-left: 10%;
    padding-top: 4%;
    display: flex;
}

.hapo-footer .footer-left {
    width: 30%;
}

.footer-left img {
    width: 291px;
    height: 60px;
}

.footer-left p {
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.05em;
}

.hapo-footer .footer-right {
    width: 70%;
    display: flex;
}

.hapo-footer .footer-right .footer-list {
    width: 50%;
    display: flex;
    justify-content: center;
}

.footer-list .left-list {
    width: 50%;
}

.left-list ul li :hover {
    text-decoration: underline;
}

.footer-list .right-list {
    width: 50%;
}

.right-list ul li :hover {
    text-decoration: underline;
}

.left-list ul li {
    list-style-type: none;
    margin-bottom: 30px;
}

.left-list-button {
    text-decoration: none;
    color: #ffffff;
    font: normal bold 20px 'UTM';
    line-height: 30px;
    letter-spacing: -0.05em;
}

.right-list ul li {
    list-style-type: none;
    margin-bottom: 30px;
}

.right-list-button {
    text-decoration: none;
    color: #ffffff;
    font: normal bold 20px/25px 'UTM';
    letter-spacing: -0.05em;
}

.hapo-footer .footer-content p {
    padding-left: 18%;
}

.hapo-footer .footer-right .contact {
    width: 50%;
    padding-top: 10%;
    padding-left: 20%;
}

.contact a img {
    margin: auto;
    padding-right: 30px;
}

.hapo-footer .copyright {
    margin-top: -16px;
    height: 7%;
    background-color: #454545;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.05em;
}


/*Main Course*/

.main-course {
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: space-around;
    font: normal bold 14px/20px 'UTM';
    text-align: center;
}

.main-course .html-course {
    width: 30%;
    height: 100%;
    margin-left: 10%;
    margin-right: 30px;
    background-image: url("../Image/boxcourse.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 7px;
}

.main-course .html-course .html-img {
    height: 50%;
    background-color: #3F6185;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-course .html-course .html-content {
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}

.main-course .laravel-course {
    width: 30%;
    height: 100%;
    margin-right: 30px;
    background-image: url("../Image/boxcourse.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 7px;
}

.main-course .laravel-course .laravel-img {
    height: 50%;
    background-color: #DC594C;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-course .laravel-course .laravel-content {
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}

.main-course .php-course {
    width: 30%;
    height: 100%;
    margin-right: 10%;
    background-image: url("../Image/boxcourse.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 7px;
}

.main-course .php-course .php-img {
    height: 50%;
    background-color: #556598;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-course .php-course .php-content {
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}

.lear-button {
    font: normal bold 18px/22px 'UTM';
    letter-spacing: -0.05em;
    color: #ffffff;
    border: 0.3px solid #FFFFFF;
    background-color: #B2D235;
    border-radius: 35px;
    padding: 9px 37px 11px 37px;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    text-decoration: none;
}

.lear-button :hover{
    background-color: #264704;
}

.green-text {
    font: normal bold 30px/37px 'UTM';
    letter-spacing: -0.05em;
    color: #B2D235;
}

.normal-text {
    font: normal bold 14px/20px 'UTM';
    letter-spacing: -0.05em;
    color: #505353;
}


/*Other course*/

.other-course-text {
    width: 100%;
    font: normal bold 60px 'UTM';
    text-align: center;
    margin-top: 5%;
    color: #11114E;
}

.other-course-text .other-course-button {
    height: 40px;
    margin-top: -50px;
    margin-bottom: 100px;
}

.other-course-text .other-course-button button {
    /* margin-top: -10px; */
    background-color: #B2D235;
    border-radius: 3px;
    height: 8px;
    width: 400px;
}

.other-course {
    width: 100%;
    height: 450px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 50px;
    font: normal bold 30px/37px 'UTM';
}

.other-course .css-course {
    width: 30%;
    height: 100%;
    margin-left: 10%;
    margin-right: 30px;
    background-image: url("../Image/boxcourse.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 7px;
}

.other-course .css-course .css-img {
    height: 50%;
    background-color: #24ABE2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-course .css-course .css-content {
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}

.other-course .ruby-course {
    width: 30%;
    height: 100%;
    margin-right: 30px;
    background-image: url("../Image/boxcourse.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 7px;
}

.other-course .ruby-course .ruby-img {
    height: 50%;
    background-color: #E14E40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-course .java-course {
    width: 30%;
    margin-right: 10%;
    background-image: url("../Image/boxcourse.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 7px;
}

.other-course .java-course .java-img {
    height: 50%;
    background-color: #1B75BB;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.other-course .ruby-course .ruby-content {
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}

.other-course .java-course .java-content {
    text-align: center;
    margin-left: 7%;
    margin-right: 7%;
}

.text-all-courses {
    text-align: center;
    margin-bottom: 100px;
}

.text-all-courses a {
    text-decoration: none;
    font: normal bold 40px/49px 'UTM';
    letter-spacing: -0.02em;
    color: #90AB26;
}


/* Why hapolearn */

.choose-hapo {
    width: 100%;
    height: 650px;
    background-image: url("../Image/backgr.png");
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
}

.why-hapolearn {
    width: 100%;
    font: normal normal 20px/25px 'UTM';
    color: #ffffff;
    letter-spacing: -0.05em;
}

.laptop-image {
    height: 30%;
    margin-top: -230px;
    margin-left: 0;
    margin-bottom: 303px;
}

.why-hapo li {
    list-style-type: none;
    margin-left: 200px;
    margin-right: 10px;
}

.why-hapo-learn-check {
    margin: 15px 10px 0 0;
}

.laptop-img {
    width: 100%;
    padding-top: 5%;
}

.why-hapo .why-hapolearn b {
    font-size: 70px;
    line-height: 86px;
    margin-left: 160px;
    font-weight: bold;
}


/* Become a member  */

.become-a-member {
    width: 100%;
    height: 400px;
    background-image: url(../Image/Member.png);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
}

.become-a-member h1 {
    text-align: center;
    font: bold 50px/74px 'UTM';
    color: white;
    letter-spacing: -0.02em;
}

.start-learning2 a {
    background-color: #ffffff;
    color: #90AB26;
    font: normal bold 30px/37px 'UTM';
    letter-spacing: -0.05em;
    box-shadow: inset 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    padding: 10px 55px 15px 55px;
    text-decoration: none;
}

.start-learning2 a :hover {
    background-color: #7F7F7F;
}


/* Statistic */

.statistic {
    width: 100%;
    height: 400px;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.statistic .statistic-text {
    width: 100%;
    height: 40%;
}

.statistic .statistic-text h3 {
    font: normal bold 60px/0 'UTM';
    color: #11114E;
    letter-spacing: -0.02em;
    margin: 0;
    margin-bottom: 25px;
    margin-top: 30px;
}

.statistic .statistic-text button {
    background-color: #B2D235;
    border-radius: 3px;
    width: 200px;
    height: 6px;
}

.statistic .statistic-number {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.course {
    width: 30%;
}

.lessons {
    width: 30%;
}

.learners {
    width: 30%;
}

.statistic-number-text {
    font: normal bold 60px/74px 'UTM';
    letter-spacing: -0.05em;
    color: #505353;
    margin-top: -10px;
}

.statistic-number-count {
    font: normal bold 60px/74px 'UTM';
    letter-spacing: -0.05em;
    color: #B2D235;
    margin-top: -5px;
}

.why-hapolearn ul li img {
    width: 15px;
    height: 15px;
}


/* Feedback */

.feedback {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin: 0;
}

.feedback-text {
    font: normal bold 60px/74px 'UTM';
    letter-spacing: -0.05em;
    color: #11114E;
    margin-top: -5px;
    height: 30%;
}

.feedback-text h3 {
    margin-bottom: -50px;
}

.feedback-text button {
    width: 275px;
    height: 8px;
    background-color: #B2D235;
    border-radius: 3px;
}

.feedback-text p {
    font: normal normal 25px/31px 'UTM';
    color: #505353;
    letter-spacing: -0.02em;
}

.usr-comment {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}

.number-one {
    width: 50%;
    background-image: url(../Image/Union.png);
    background-repeat: no-repeat;
    padding: 10px 10px 0 40px;
    background-size: auto;
    margin-right: 80px;
    background-size: 100% 75%;
}

.number-two {
    width: 50%;
    background-image: url(../Image/Union.png);
    background-repeat: no-repeat;
    padding: 10px 40px 0 40px;
    margin-left: 80px;
    background-size: 100% 75%;
}

.mui-ten {
    position: absolute;
}

.mui-ten-trai {
    left: 320px;
    top: 3548px;
}

.mui-ten-phai {
    right: 273px;
    top: 3548px;
}

.fb-user-content p {
    font: normal normal 16px/20px UTM;
    text-align: left;
    letter-spacing: -0.05em;
}

.fas {
    font-size: 30px;
    color: #969494;
}

.infor-user {
    margin-top: 100px;
    display: flex;
    align-items: center;
}

.user-comment {
    padding-top: -15px;
    margin-left: 20px;
    text-align: left;
}

.user-comment h3 {
    font: normal bold 20px UTM BryantLG_B;
    color: #11114E;
    margin-bottom: 0;
}

.user-comment p {
    margin: 0;
    font: normal bold 16px UTM BryantLG;
    color: #505353;
}

.checked {
    color: #F2C54F;
}

/* Mess */
.mess {
    width: 360px;
    height: auto;
    position: fixed;
    margin-right: 40px;
    margin-bottom: 30px;
    bottom: 0;
    right: 0;
}

.mess-button {
    background-color: #2774DF;
    border-radius: 50px;
    padding: 4px 4px 3px 4px;
    margin-left: 93%;
}

.mess-img {
    margin-top: 5px;
    width: 50px;
    height: 50px;
}

.box-chat {
    width: 100%;
    background-color: #FFFFFF;
    border-radius: 23px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.25);
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: none;
}

.mess-chatbox-text {
    width: 100%;
    height: 50%;
    display: flex;
}

.mess-chatbox-img {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}

.mess-chatbox-content {
    width: 70%;
    height: 100%;
    flex-direction: column;
}

.mess-chatbox-close .close button {
    background-color: #F1F0F0;
    border-radius: 15px;
    width: 26px;
    height: 26px;
    font-weight: bold;
    align-items: center;
}

.mess-chatbox-content h6 {
    font-weight: normal;
    color: #7F7F7F;
    margin: 0;
    padding-left: 15px;
}

.mess-chatbox-content p {
    font: normal 12px/17px 'Open Sans';
    margin-top: 5px;
    padding: 15px;
    background-color: #F1F0F0;
    border-radius: 15px;
    color: #505353;
    -webkit-text-stroke: 0.3px;
}

.mess-chatbox-login {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mess-chatbox-login a {
    font: normal 12px/16px 'Open Sans';
    color: white;
    width: 276px;
    height: 37px;
    background-color: #3184F7;
    text-decoration: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mess-chatbox-login a img {
    margin-right: 10px;
    width: 17px;
    height: 17px;
}

.mess-chatbox-login p {
    font: normal 12px/16px 'Open Sans';
    text-align: center;
    margin: 6px 0;
    color: #B3B3B3;
    -webkit-text-stroke: 1px;
}
